<section class="why_section layout_padding bg-light">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Why Choose <span>Us</span>
        </h2>
      </div>
      <div class="why_container">
        {% for feature in features %}
        <div class="box">
          <div class="img-box">
            <img src="{{ feature.fimage.url }}" alt="">
          </div>
          <div class="detail-box">
            <h5>
              {{ feature.ftitle }}
            </h5>
            <p>
              {{ feature.fdescription }}</p>
          </div>
        </div>
        {% endfor %}
        
      </div>
      <div class="btn-box">
        <a href="">
          Read More
        </a>
      </div>
    </div>
  </section>