{% extends 'base.html' %}
{% block content %}
<div class="container-lg bg-light">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm bg-secondary">
            <br><br>
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="name">Name</label>
                    <input type="text" name="name" class="form-control" id="name" rows="3">
                    </input>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input name="email" type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1">Subject</label>
                    <textarea name="subject" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1">Message</label>
                    <textarea name="message" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <input class="btn btn-primary" type="submit" value="Submit">
            </form>

            <br><br>
        </div>
        <div class="col-sm"></div>
    </div>

</div>

{% endblock content %}