<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>

<body>
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Enter your username">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Enter your password">
        <button type="submit">Submit</button>

        <button><a href="{% url 'singup' %}"><b>SignUP</b></a></button>

    </div>
    <div>
        <h1>hello i am testing page</h1>
        <button><a href="{% url 'home' %}"><b>Back To home</b></a></button>
    </div>
</body>

</html>